<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <MSDeployServiceURL>stag-auiui-p8vt-internal-test.scm.azurewebsites.net:443</MSDeployServiceURL>
        <DeployIisAppPath>stag-auiui-p8vt-internal-test</DeployIisAppPath>
        <UserName>$stag-auiui-p8vt-internal-test</UserName>
        <DestinationAppUrl>http://stag-auiui-p8vt-internal-test.azurewebsites.net</DestinationAppUrl>
        <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>False</EnableMSDeployBackup>
    </PropertyGroup>
    <PropertyGroup>
        <WebPublishMethod>ZipDeploy</WebPublishMethod>
        <MSDeployServiceURL>stag-auiui-p8vt-internal-test.scm.azurewebsites.net:443</MSDeployServiceURL>
        <UserName>$stag-auiui-p8vt-internal-test</UserName>
        <DestinationAppUrl>http://stag-auiui-p8vt-internal-test.azurewebsites.net</DestinationAppUrl>
    </PropertyGroup>
</Project>
