<footer class="pb-3 pt-4">
    <ul class="nav justify-content-center border-bottom mb-2">
        <li class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
    </ul>
    <p class="text-center text-body-secondary">
        <small>© 2024 Company, Inc</small>
    </p>
</footer>